version: '3.7'
services:
  grafana:
    image: grafana/grafana-enterprise:${GR_VERSION:-10.0.3}
    # image: grafana/grafana-enterprise:latest
    ports:
      - '3000:3000'
    volumes:
      - ./:/var/lib/grafana/plugins/questdb-questdb-datasource
      - ./provisioning:/etc/grafana/provisioning
    environment:
      - TERM=linux
      - GF_DEFAULT_APP_MODE=development
      - GF_ENTERPRISE_LICENSE_TEXT=$GF_ENTERPRISE_LICENSE_TEXT
    networks:
      - grafana

  questdb:
    image: 'questdb/questdb:8.0.1'
    container_name: 'grafana-questdb-server'
    ports:
      - '8812:8812'
      - '9000:9000'
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - grafana

networks:
  grafana:
