name: run-backend-tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # build may start failing due to questdb change
  schedule:
    - cron: '0 9 1 * *'

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        questdb_version:
          - latest
          #- nightly
        questdb_name:
          - 'questdb/questdb'
        # - 'questdb/enterprise'

    steps:
      - uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build
        run: go build -v ./...

      - name: Run backend tests
        run: QUESTDB_NAME=${{ matrix.questdb_name }} QUESTDB_VERSION=${{ matrix.questdb_version }} go test -v ./...

